.page-container
  %h1 注册
  = simple_form_for @user do |f|
    = f.input :name, input_html:{:class => 'form-control',placeholder: '用户名'}
    = f.input :account_number, input_html:{:class => 'form-control', placeholder: 'Email'}
    = f.input :password, input_html:{:class => 'form-control', placeholder: '密码',type:'password'}
    = f.button :submit, "提交",:class => 'btn btn-default .btn-form-crt'